<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить класс</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>Админ Панель</h2>
        <ul>
            <li><a href="{{ url_for('add_student') }}">Добавить ученика</a></li>
            <li><a href="{{ url_for('add_teacher') }}">Добавить учителя</a></li>
            <li><a href="{{ url_for('add_class') }}">Добавить класс</a></li>
            <li><a href="{{ url_for('index') }}">Главная</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h2>Добавить класс</h2>
        <form method="post" class="form-container">
            <label for="class_name">Название класса:</label>
            <input type="text" id="class_name" name="class_name" required>
            <button type="submit">Добавить</button>
        </form>
        <a href="{{ url_for('index') }}" class="back-link">Назад</a>
    </div>
</body>
</html>
